*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  text-decoration: none;
}
body{
  background: url("public/pokemonbg/gen1Starters.jpeg")no-repeat fixed;
  background-size: cover;
  color: white;
  padding-top: 10dvh;
}
h3, h4{
  margin: .5em auto;
}
header{
  padding: 1em;
  background: black;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-self: start;
  width: 100%;
  z-index: 1;
}
header a{
  color: gold;
  margin-right: 2em;
}
section{
  width: 90%;
  margin: auto;
}
#pokemonSearch article{
  display: flex;
  align-items: center;
  min-height: 72dvh;
}

figure{
  background: rgba(0,0,0,.7);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  padding: 1em;
  color: white;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
input{color:black;}
#allPokemons{
  background: url("public/pokemonbg/pokeballs.png")no-repeat fixed;
  background-size: cover;
  color: black;
  padding: 1em;
}
#allPokemons article{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  gap : 1em;
  background: rgba(0,0,0,.7);
  backdrop-filter: blur(15px);
}
#allPokemons a {
  width: 20dvmin;
  height: 20dvmin;
  color: aliceblue;
  font-variant: small-caps;
}
.cries{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1em auto;
}
figure .images{
  min-width: 40%;
}
figure img{
  width: 80%;
}
.stats span{
  display: block;
  padding-left: 1em;
  color: #eee;
}